* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
   
}

main {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 2px 2px 50px black;
    color: white;
}

.top-flexbox, .middle-flexbox, .bottom-flexbox {
    display: flex;
    padding: 2em;

}

.city {
    display: flex;
    gap: 1em;
    align-items: last baseline;
}

.top-flexbox {
    justify-content: space-between;
}

.middle-flexbox {
    position: relative;
    top: -15%;
    justify-content: center;
}

.symbol-section {
    display: flex;
    gap: .7em;
    align-items: center;
}

.temp-conditions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.city {
    font-size: 2rem;
}

.city-icon {
    font-size: 3rem;
}

.weather-conditions {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    font-size: 1.5rem;
}

.rest-conditions {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}

#cryptos {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.crypto-symbol {
    text-transform: uppercase;
}

.blur-background {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);             
    border-radius: 12px;   
    padding: .5em 1em;                  
}

h1 {
    font-size: 6rem;
}

