* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
   
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 1px 2px 50px black;
    color: white;
}

.top-flexbox, .middle-flexbox, .bottom-flexbox {
    display: flex;
    padding: 2em;

}

.top-flexbox {
    justify-content: space-between;
}

.middle-flexbox {
    justify-content: center;
}

